/* #logindiv {
    height: 91vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),
    url(../images/pm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.white {
    color: white;
}


#logindiv {
    height: 100vh;
    /* background: #cb2d3e;
    background: -webkit-linear-gradient(to bottom, #ef473a, #cb2d3e);
    background: linear-gradient(to bottom, #ef473a, #cb2d3e); */

    /* background: #24C6DC;
    background: -webkit-linear-gradient(to bottom, #514A9D, #24C6DC);
    background: linear-gradient(to bottom, #514A9D, #24C6DC); */


    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),
    url(../images/login.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



